.cursor {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  /* background-color: black; */

  mix-blend-mode: difference;
  background-color: #fcfcfc;
  z-index: 9999;
}