.burger:focus {
  outline: none;
}

.burger {
  background: transparent;
  border: 0;
  position: relative;
  width: 22px;
  height: 18px;
  cursor: none;
  padding: 1rem;
}

.burger span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transition: all 0.2s;
  background: #FCFCFC;
}
.burger span:nth-child(2) {
  top: 8px;
}
.burger span:last-child {
  top: 16px;
}

.navOpen span:first-child, .navOpen span:last-child {
  top: 8px;
}
.navOpen span:first-child {
  transform: rotate(45deg);
}
.navOpen span:last-child {
  transform: rotate(-45deg);
}
.navOpen span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.navOpen span {
  background: var(--background);
}