.sendBtn {
  display: grid;
  place-items: center;
  transition: all 0.5s;

}

.spinner {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FCFCFC transparent transparent transparent;
}
.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkmark {
  display:inline-block;
  margin-top: 6px;
  width: 15px;
  height:25px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:20px;
  background-color:#65743A;
  left:6px;
  top:0px;
}

.checkmark_kick {
  position: absolute;
  width:8px;
  height:3px;
  background-color:#65743A;
  left:0px;
  top:17px;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  top: 6px;
  content: ' ';
  height: 25px;
  width: 4px;
  background-color: #FC3434;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}